<aside class="w-56 h-full
              bg-gradient-to-b from-[#1b202b] to-[#11151d]
              border-r border-[#2c3340] shadow-inner
              select-none"
>
  <ul>
    <li class="relative px-4 py-3 border-b border-[#2c3340] text-gray-300 cursor-pointer before:absolute before:top-0 before:left-0 before:h-full before:w-1 before:bg-transparent bg-gradient-to-r from-[#ff8a00cc] to-[#ff8a0040] text-black! font-bold">Squad List</li>
    <li class="relative px-4 py-3 border-b border-[#2c3340] text-gray-300 cursor-pointer before:absolute before:top-0 before:left-0 before:h-full before:w-1 before:bg-transparent">Formation</li>
    <li class="relative px-4 py-3 border-b border-[#2c3340] text-gray-300 cursor-pointer before:absolute before:top-0 before:left-0 before:h-full before:w-1 before:bg-transparent">Tactics</li>
    <li class="relative px-4 py-3 border-b border-[#2c3340] text-gray-300 cursor-pointer before:absolute before:top-0 before:left-0 before:h-full before:w-1 before:bg-transparent">Transfers</li>
  </ul>
</aside>